@inherits LayoutComponentBase

<div class="d-flex vh-100 justify-content-center align-items-center" >
    @Body
</div> 
@* <Layout>
    <LayoutHeader>
        Header
    </LayoutHeader>
    <LayoutContent>
        @Body
    </LayoutContent>
    <LayoutFooter>
        Footer
    </LayoutFooter>
</Layout> *@

@code {

}
